
  
body{
    background-color: darkkhaki;
}

h1{
    color: rgb(210, 103, 2);
    text-align:center;
}
h4{
    color: rgb(86, 44, 28);
    
}p{
    color: antiquewhite;
    
}
 hr{
    color: crimson;
 }
